.nav-items {
    list-style: none;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.deer {
    width: 100px;
}

.nav-items {
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}